$interactionColor: #00adb5;
$backgroundColor: #393e46;
$textColor: #eeeeee;
$navbarBackgroundColor: #2d323b;

$fontFamily: "PT Sans";

@mixin greenButtonStyle() {
    background-color: $interactionColor;
    border: none;
    border-radius: 10px;
    padding: 1px 10px;
    font-size: 28px;
    width: 200px;
    cursor: pointer;
    outline: none;
    a {
        text-decoration: none;
        color: $textColor;
        font-family: $fontFamily;
    }
}

@mixin navBarStyle() {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $navbarBackgroundColor;
    label {
        font-size: 25px;
    }
    #backButton {
        background-color: $backgroundColor;
        border: none;
        position: absolute;
        padding: 0;
        left: 20px;
        img {
            height: 30px;
        }
    }
}

// mobile design global variables (used in multiple screens):
$mobileHeadlineFontSize: 40px;
