@import "./general";

html,
body {
    height: 100%;
    background-color: $backgroundColor;
}

#paragraphOne {
    text-align: center;
    font-size: $mobileHeadlineFontSize;
    color: $textColor;
    font-family: $fontFamily;
    padding: 1px 10px;
    margin: 0;
}

.container {
    border: 3px solid #73ad21;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 95%;
    height: 80%;
    padding: 10px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

.box {
    border: 1px solid #b4b220;
    width: 30vw;
    height: 30vw;
    color: white;
    margin: 20px;
    flex: 1;
    position: relative;
    border-radius: 10%;
    background-color: white;
    overflow: hidden;
    a {
        background-color: white;
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: $fontFamily;
        position: absolute;
        bottom: 5px;
    }
    img {
        width: 85%;
        margin: 0px auto;
        height: auto;
        display: block;
    }
}
