@import "./general";

// logo i tekst u ista linija
h1,
img {
    display: inline;
    vertical-align: middle;
}

img {
    max-height: 30px;
    max-width: 30px;
    display: inline;
}

h1 {
    font-family: $fontFamily;
    font-size: 4vw;
}

p {
    margin: 0px;
    font-size: 3em;
}

div {
    margin-top: 20px;
}
