@import "./general";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $backgroundColor;
}

.logo {
    width: 25vh;
    display: block;
}

.container {
    height: 100vh;
    border: 1px solid yellowgreen;
    padding: 10px 35px;
    box-sizing: border-box;
}

.mainImage {
    // make image same width as viewport - padding left and right on container
    width: calc(100vw - 70px);
    border-radius: 10%;
    display: block;
}

.headline {
    padding: 20px 0px;
    font-size: 40px;
    font-family: $fontFamily;
    color: $textColor;
    display: inline-block;
}

// Get started button
.getstarted {
    background-color: $interactionColor;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    display: block;
    width: calc(100vw - 70px);
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 $interactionColor;
    outline: none;
    position: fixed;
    bottom: 20px;
    a {
        text-decoration: none;
        color: $textColor;
        font-family: $fontFamily;
    }
}

.getstarted:hover {
    box-shadow: inset 200px 0 0 0 #5fc314;
    cursor: pointer;
    a {
        color: black;
    }
}
