@import "./general";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
}

.container {
    height: 100vh;
    border: 1px solid yellowgreen;
    padding: 10px 35px;
    box-sizing: border-box;
}

.firstHalfDiv {
    // border: 2px solid rgb(224, 0, 168);
    height: calc(50vh - 10px);
    box-sizing: border-box;
    .logo {
        width: 25vh;
        display: block;
    }
    .headline {
        padding: 20px 0px;
        font-size: 40px;
        font-family: $fontFamily;
        color: $textColor;
        display: inline-block;
    }
    #tipsAndTricks {
        font-size: 23px;
        font-family: $fontFamily;
        color: $textColor;
    }
}

.mainImage {
    width: calc(100vw - 70px);
    border-radius: 15%;
    display: block;
    position: fixed;
    bottom: calc(50vh - calc(100vw - 120px));
}

.getstarted {
    background-color: #00adb5;
    border: none;
    border-radius: 15px;
    padding: 1px 10px;
    width: calc(100vw - 70px);
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: fixed;
    bottom: 30px;
    a {
        text-decoration: none;
        color: $textColor;
        font-family: $fontFamily;
    }
}
