@import "./general";

* {
    color: $textColor;
}

body {
    background-color: $backgroundColor;
}

#navbar {
    @include navBarStyle;
}

#flexContainer {
    margin-left: 20px;
    .header {
        font-size: 32px;
        margin-top: 25px;
        p {
            margin-bottom: 0;
        }
        span:nth-child(2) {
            display: inline-block;
            width: 25px;
            position: relative;
            top: 17px;
        }

        span:nth-child(3) {
            display: inline-block;
            width: 25px;
            position: relative;
            top: 17px;
        }
        input {
            width: 34px;
            box-sizing: border-box;
            display: block;
            text-align: center;
            font-size: 16px;
            color: black;
        }

        button {
            width: 34px;
            height: 20px;
            font-size: 16px;
            display: block;
            line-height: 15px;
            border: none;
            color: rgba(0, 0, 0, 0.801);
        }

        #subtractButton {
            border-radius: 0 0 5px 5px;
            background-color: #ff101098;
        }

        #addButton {
            border-radius: 5px 5px 0 0;
            background-color: #00acb5b2;
        }
    }

    #startButton {
        @include greenButtonStyle;
    }
}

.btn-primary {
    background-color: $interactionColor !important;
}

.btn-outline-primary {
    border-color: $interactionColor !important;
    color: $textColor !important;
    &:hover {
        background-color: $interactionColor !important;
    }
}

@media only screen and (min-width: 768px) {
    #navbar {
        label {
            font-size: 35px;
        }
        #backButton {
            img {
                height: 50px;
            }
        }
    }
}
