@import "./general";

* {
    color: $textColor;
}

body {
    background-color: $backgroundColor;
}

#navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $navbarBackgroundColor;
    label {
        font-size: 25px;
    }
    #backButton {
        background-color: $backgroundColor;
        border: none;
        position: absolute;
        padding: 0;
        left: 20px;
        img {
            height: 30px;
        }
    }
}

.flexContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    // justify-content: space-between;
    flex-wrap: nowrap;
    height: 80vh;
    #question {
        flex: 1;
        margin-top: 50px;
        font-size: 35px;
        margin-bottom: 0;
    }
    #options {
        flex: 2;
        font-size: 30px;
    }
    #next {
        @include greenButtonStyle;
        text-decoration: none;
        // this 11px is randoml specified don't know what it means
        flex: 0 0 11px;
        text-align: center;
    }
}
